{% block content %}

<div style="background-color: #fff" class="shadow-sm p-3 mt-4 rounded">
  <div class="d-flex justify-content-between">
    <h3>Books</h3>
    <a href="{% url 'all_book' %}">Show more</a>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
    {% for book in books %}

    <div class="col">
      <div class="card h-100">
        <a href="{% url 'book_detail' book.slug %}">
          <img
            src="{{ book.cover.url }}"
            class="card-img-top"
            alt="book"
            style="height: 150px"
          />
        </a>
        <div class="card-body">
          <a style="color: black" href="{% url 'book_detail' book.slug %}">
            <h5 class="card-title">{{ book.title }}</h5>
          </a>
          <p class="card-text">{{ book.description|slice:":100"|safe }}..</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
