{% extends "base.html" %} {% block title %}Book Details{% endblock title %} 
{% block content %}

<section class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <img
        src="{{ book.cover.url }}"
        style="height: 300px; width: 300px; border-radius: 10px"
        alt=""
      />
    </div>
    <div class="col-md-8">
      <h4>{{ book.title }}</h4>

      <div class="d-flex align-items-center mb-3 mt-3">
        <img
          src="{{ book.author.image.url }}"
          style="height: 70px; width: 70px; border-radius: 100%"
          class="me-3"
          alt=""
        />
        <h5 class="me-2">{{ book.author.name }}</h5>
        <span class="">({{ book.author.occupation }})</span>
      </div>

      <div class="d-flex">
        {% if book.num_of_books_available == 0 %}
        <button class="btn btn-info me-2 disabled">Add Wishlist</button>
        <button class="btn btn-warning disabled">Borrowing Book</button>

        {% else %}
        <a href="{% url 'add_wishlist' book.pk %}">
          <button class="btn btn-info me-2">Add Wishlist</button>
        </a>
        <a href="{% url 'add_borrowing' book.pk %}">
          <button class="btn btn-warning">Borrowing Book</button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h2>{{ book.title }}</h2>
    <p>{{ book.description |safe}}</p>
  </div>
</section>

<section class="container">
  <div style="background-color: #fff" class="shadow-sm p-3 mt-4 rounded">
    <div class="d-flex justify-content-between">
      <h3>Relatd books</h3>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
      {% for book in related_books %}

      <div class="col">
        <div class="card h-100">
          <a href="{% url 'book_detail' book.slug %}">
            <img
              src="{{ book.cover.url }}"
              class="card-img-top"
              alt="book"
              style="height: 150px"
            />
          </a>
          <div class="card-body">
            <a style="color: black" href="{% url 'book_detail' book.slug %}">
              <h5 class="card-title">{{ book.title }}</h5>
            </a>
            <p class="card-text">{{ book.description|slice:":100"|safe }}..</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include "footer.html" %} {% endblock %}
