<section >
  <div id="carouselExampleControls"  class="carousel slide "  data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvF-EzTJ738MpLHO2blXldGKl7U4dj_u9oBg&usqp=CAU" class="d-block w-100" style="height: 350px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmumUdqpxStnkKLeBNqzj-9aQcMKDwHrf_0e8ycv0DfwgVVYPGR4jlIfKdKML1VTYNq3k&usqp=CAU" class="d-block w-100" style="height: 350px;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeL0KDGqAzI-Z-QT2LI_30vn6pqDIr1jwM7psTg_1R-hHTsDApIlk6wuozSZU1HMCdcwI&usqp=CAU" class="d-block w-100" style="height: 350px;" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>